<ion-view class="header-title" title="无忧租房">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <button class="button button-clear button-light" hide-reset="true" cancel-button="返回" modal-select="city" ng-model="city" on-select="onSelectCity(newValue, oldValue)" options="cityList" modal-title="请选择您所在城市">
        {{city}}
        <div class="option">
          {{option}}
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content  class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="keyword" placeholder="请输入小区名或者地名开始找房之旅">
      </label>
      <button class="button button-block button-balanced" ng-disabled="!keyword || keyword === ''" ng-click="search(keyword)">搜索一下</button>
    </div>
    <div class="recent-search">
      <div ng-repeat="key in recentKeywords" class="recent-search-item" ng-click="search(key, city)">{{key}}</div>
    </div>
  </ion-content>
  <div class="my-footer info-message">
      Powered by 豆瓣租房
  </div>
</ion-view>
