<ion-view title="{{keyword}}">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear" href="#/home"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content  class="padding">
    <div ng-repeat="house in houses" class="card" ng-click="openDetails(house.url)">
      <div class="item item-divider item-text-wrap house-title">
        <h2>{{house.title}}</h2>
        <div ng-show="house.price.length > 0" style="color:red;">
          <span>租金: </span>
          <span ng-repeat="price in house.price">{{price + " "}}</span>
        </div>
      </div>
      <div class="item item-text-wrap">
        <p>{{house.uptime}}</p>
        <p>{{house.text}}</p>
      </div>
    </div>
    <div ng-show="houses.length <= 0 && showInfoMessage" class="info-message">
      没有找到和"{{keyword}}"相关的租房信息，请试试其他小区名或地址查找租房信息。
    </div>
    <ion-infinite-scroll ng-if="!no_more_data" on-infinite="loadMore()" distance="2%"></ion-infinite-scroll>
  </ion-content>
</ion-view>